@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

.container {
    margin: 20px auto;
    max-width: 95%;
    display: grid;
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

header {
    display: flex;
    margin-block-end: 20px;
}

header img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid purple;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
header h3 {
    font-size: 13px;
}

header p {
    font-size: 12px;
    /* color: #fff; */
    opacity: 50%;
}

.intro {
    font-size: 23px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.quote {
    font-size: 14px;
    line-height: 1.5;
    opacity: 75%;
}

.bg-purple {
    background: hsl(263, 55%, 52%);
    color: #fff;
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: right 100px top 20px;
}

.bg-gray {
    background: hsl(217, 19%, 35%);
    color: #fff;
}

.bg-dark {
    background: hsl(219, 29%, 14%);
    color: #fff;
}

@media(min-width: 640px){
    .container {
        max-width: 90%;
    }

    .card:nth-of-type(1) {
        grid-column: 1 / 3;
    }
}

@media(min-width: 768px){
    .container {
        max-width: 80%;
    }
}

@media(min-width: 1024px) {
    .container {
        max-width: 90%;
        grid-template-columns: repeat(4, 1fr);
    }

    .card:nth-of-type(1) {
        grid-column: 1 / 3;
    }

    .card:nth-of-type(4) {
        grid-column: 2 / 4;
    }

    .card:nth-of-type(5) {
        grid-row: 1 / 3;
        grid-column: 4;
    }

}
@media(min-width: 1280px){
    .container {
        max-width: 80%;
        grid-template-columns: repeat(4, 1fr);
    }
}

